<h1> <%= @idea.title %></h1>

<p> <%= @idea.description %> </p>

<% if can? :edit, @idea %>
    <%= link_to "Edit", edit_idea_path(@idea) %>
<% end %>

<% if can? :destroy, @idea %>
    <%= link_to "Delete", idea_path(@idea),  method: :delete, data:{confirm: "Are you sure?"}%>
<% end %>

<%= form_with model: [@idea, @review], local: true do |f| %>
    <% if @review.errors.present? %>
      <p>
        <%= @review.errors.full_messages.join(', ') %>
      </p>
    <% end %>
    <div>
      <%= f.label :rating %>
      <%= f.number_field :rating, in: 1..5 %>
    </div>
    <div>
      <%= f.label :body %>
      <%= f.text_area :body %>
    </div>
    <%= f.submit %>
<% end %>


<% @reviews.each do |review| %>
    <p>Reviewed by: <%= review.user.name %></p>
    <%= review.body %>
    <%= review.rating %>
    <% if can? :crud, review %>
        <%= link_to 'Delete', review_path(review),
            method: :delete, data: { confirm: 'Are you sure?' } %>
        <hr>
    <% end %>

    <% if user_signed_in? && can?(:like, review) %>
        <% like = current_user.likes.find_by_review_id(review) %>
        <% if like %>
            <%= link_to fa_icon('thumbs-up 3x'), like_path(like), method: :delete %>
        <% else %>
            <%= link_to fa_icon('thumbs-o-up 3x'), review_likes_path(review), method: :post %>
        <% end %>
    <% end %>
 
    (<%= pluralize review.likes.count, 'like' %>)
   


  
<% end %>